<h4> Here are the words in your dictionary </h4>

<ul>
  <% @words.each() do |word| %>
    <li> <a href ='/list/<%=word.id()%>'><%= word.word() %></a></li>
    <% end %>
</ul>

<form action = '/' method = 'post'>
  <label for = 'word_input'>Enter a new word here: </label>
  <input id = 'word_input' name = 'word_input' type = 'text'>
  <button type = 'submit' class = "btn-success">Add Word</button>
</form>
