<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>Dictionary</title>
    </head>
    <body>
        <div class = "container">
          <div class = "jumbotron">
        <h1> Dictionary </h3>
      </div>
        <%= yield %>
    </div>
  </body>
</html>
